<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Calculator</title>
</head>
<body>
<center>
<h1>Calculator</h1>
<form action="/" method="post">
<label for="operation">Operation:</label>
<select name="operation"><br><br>
<option value="addition">Addition</option>
<option value="subtraction">Subtraction</option>
<option value="subtraction">Multiplication</option>
<option value="subtraction">Division</option>
</select>
<br><br>
<label for="num1">Number1:</label>
<input type="number" name="num1">
<br><br>
<label for="num2">Number2:</label>
<input type="number" name="num2">
<br><br>
<input type="submit" value="Calculate">
</form>
</center>
</body>
</html>